pool:
  vmImage: 'ubuntu-16.04'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - checkout: self

  - bash: npm ci
    displayName: 'install project npm deps'

  - bash: |
      npm run static
      npm run build
    displayName: 'lint & build'
    workingDirectory: $(ABSOLUTE_BUNDLE_ROOT)
